/* Footer
----------------------------*/
.site-footer {
	background-color: #fff;
	padding: 30px 0 15px;

	@include mq($from: tablet) {
		padding: 60px 0 30px;
	}

	.flex {
		flex-direction: column;

		@include mq($from: tablet) {
			flex-direction: row;
		}
	}
}

.site-footer__social {
	display: flex;
	justify-content: center;
	margin-bottom: 0.75em;
	order: 1;
	width: 100%;

	@include mq($from: tablet) {
		justify-content: flex-end;
		margin-bottom: 0;
		order: 2;
		width: 50%;
	}

	a {
		border: 0;

		&:hover,
		&:focus,
		&:active {
			background-color: transparent;

			svg {
				color: $gold;
			}
		}
	}

	svg {
		color: $mid-gray;
		display: block;
		height: 22px;
		margin-left: 12px;
		transition: color 0.25s linear;
	}
}

.site-footer__copyright {
	color: $mid-gray;
	order: 2;
	font-size: 0.9em;
	text-align: center;
	width: 100%;

	@include mq($from: tablet) {
		order: 1;
		text-align: left;
		width: 50%;
	}
}