/* Post
----------------------------*/
.post {
	margin: 0 auto;
	width: 100%;
}

.post__header,
.page__header {
	padding: 1.5em 0;

	@include mq($from: tablet) {
		padding: 3.75em 0;
		text-align: center;
	}

	&:after {
		background-color: $gold;
		content: "";
		display: block;
		height: 4px;
		margin: 0.5em 0;
		width: 3.5em;

		@include mq($from: tablet) {
			margin: 2.75em auto 0;
			width: 6em;
		}
	}
}

.post__title,
.page__title {
	font-size: 1.75em;
	line-height: 1.2;
	margin: 0;

	@include mq($from: tablet) {
		font-size: 3.5em;
	}
}

.post__meta {
	color: $mid-gray;
	line-height: 1;
	margin-top: 1em;

	@include mq($from: tablet) {
		margin-top: 1.5em;
	}
}

.post__time {
	font-weight: bold;
	margin-left: 4px;
}

.post__content,
.page__content {
	color: $mid-gray;
	font-size: 1.1em;
	line-height: 1.5;
	padding-bottom: 2em;

	@include mq($from: tablet) {
		font-size: 1.35em;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $dark-gray;
		margin-top: 1.5em;
	}

	&--contact,
	&--notfound {
		@include mq($from: tablet) {
			text-align: center;
		}

		h3 {
			margin-top: 0;
		}
	}
}