.slides {
	border: 0;
	margin-bottom: 30px;
	position: relative;
	width: 100%;
}

.slides:before {
	content: "";
	display: block;
	padding-top: 70%;
	width: 100%;
}

.slides > iframe {
	border: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}