@font-face {
	font-family: 'Alegreya Sans';
	src: url('../fonts/AlegreyaSans-Regular.eot');
	src: url('../fonts/AlegreyaSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AlegreyaSans-Regular.woff2') format('woff2'),
		url('../fonts/AlegreyaSans-Regular.woff') format('woff'),
		url('../fonts/AlegreyaSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('../fonts/AlegreyaSans-Bold.eot');
	src: url('../fonts/AlegreyaSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AlegreyaSans-Bold.woff2') format('woff2'),
		url('../fonts/AlegreyaSans-Bold.woff') format('woff'),
		url('../fonts/AlegreyaSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/Alegreya-Bold.eot');
	src: url('../fonts/Alegreya-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Alegreya-Bold.woff2') format('woff2'),
		url('../fonts/Alegreya-Bold.woff') format('woff'),
		url('../fonts/Alegreya-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
